<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mydubbo.myuser.mapper.MpUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mydubbo.myuser.entity.MpUser">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="address" property="address" />
        <result column="openid" property="openid" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
        <result column="deleted" property="deleted" />
    </resultMap>
	<!-- SELECT * FROM mp_user  ${ew.customSqlSegment} -->
	<select id="selectMyPage" resultType="com.mydubbo.myuser.entity.MpUser">
        SELECT * FROM mp_user  ${ew.customSqlSegment}
    </select>
    
	<select id="selectSqlPage" resultType="com.mydubbo.myuser.entity.MpUser" parameterType="java.util.Map">
        SELECT * FROM mp_user 
        <where>
			1=1
			<if test="query.id != null and query.id != ''">
				AND `mp_user`.id > #{query.id}
			</if>
			<if test="query.address != null and query.address != ''">
				AND `mp_user`.address LIKE CONCAT('%',#{query.address},'%')
			</if>
			
		</where>
    </select>
</mapper>
